
# Ignore everything inside NinjaSurvival
NinjaSurvival/*

# Allow Source and Content folders
!NinjaSurvival/Source/
!NinjaSurvival/Content/

# Allow all content inside Source and Content
!NinjaSurvival/Source/**
!NinjaSurvival/Content/**
